metabase:
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: metabase-k8s.simple.org
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
    - hosts:
      - metabase-k8s.simple.org
      secretName: metabase-k8s.simple.org-tls
