.DS_STORE
.terraform.tfvars
.vault_password
*.hosts
*.decrypted
ssh_keys/*
tmp
.vagrant
*.pem
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
terraform/eks-module-test/*
argocd_password_setup_credentials.txt
argocd_password_setup_users.txt
.idea
k8s/manifests/*/charts/*.tgz
