namespace: postgres-operator

commonLabels:
  app.kubernetes.io/name: pgo
  # The version below should match the version on the PostgresCluster CRD
  app.kubernetes.io/version: 5.2.1

# Repo: https://github.com/CrunchyData/postgres-operator-examples/tree/main/kustomize
bases:
- github.com/CrunchyData/postgres-operator-examples/kustomize/install/namespace?ref=206cc6aa0aa148133d3147d286f9b3c68b820ffb
- github.com/CrunchyData/postgres-operator-examples/kustomize/install/crd?ref=206cc6aa0aa148133d3147d286f9b3c68b820ffb
- github.com/CrunchyData/postgres-operator-examples/kustomize/install/rbac/cluster?ref=206cc6aa0aa148133d3147d286f9b3c68b820ffb
- github.com/CrunchyData/postgres-operator-examples/kustomize/install/manager?ref=206cc6aa0aa148133d3147d286f9b3c68b820ffb

# Release notes: https://access.crunchydata.com/documentation/postgres-operator/latest/releases/ 
images:
- name: postgres-operator
  newName: registry.developers.crunchydata.com/crunchydata/postgres-operator
  newTag: ubi8-5.2.1-0
- name: postgres-operator-upgrade
  newName: registry.developers.crunchydata.com/crunchydata/postgres-operator-upgrade
  newTag: ubi8-5.2.1-0

patchesJson6902:
- target: { group: apps, version: v1, kind: Deployment, name: pgo }
  path: selectors.yaml
- target: { group: apps, version: v1, kind: Deployment, name: pgo-upgrade }
  path: selectors.yaml
