ingress-nginx:
  controller:
    kind: 'DaemonSet' 
    hostNetwork: true
    ingressClassResource:
      default: true
    service:
      type: ''
    admissionWebhooks:
      enabled: false #TODO: check issues with enabling the same.
