metabase:
  image:
    tag: v0.47.10
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      "cert-manager.io/cluster-issuer": "letsencrypt-prod"
    hosts:
      - host: metabase-qa.simple.org
        paths:
          - path: /
            pathType: ImplementationSpecific
      - host: metabase2-qa.simple.org
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
    - hosts:
      - metabase-qa.simple.org
      secretName: metabase-qa.simple.org-tls
    - hosts:
      - metabase2-qa.simple.org
      secretName: metabase2-qa.simple.org-tls
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi
  extraEnvVars:
    - name: JAVA_TOOL_OPTIONS
      value: "-XX:+UseG1GC -XX:MaxRAMPercentage=75.0 -Xms512m -Xss1m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp"