---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: monitoring-basic-auth
  namespace: monitoring
spec:
  encryptedData:
    auth: AgBARsN5trUE27BqQM9sjqDh3t7wLfo3OT+Jd4pWgF8mYb+QBknQkYwq0Bqj7e8VMxJU+1emePsm9imtUcgurl7R1HZKvVRjM4rQ4lR6s6tPPXofiRM+D/JNZURSimi1txZ7jS8l+G2By3CombmrHBp8KIPCqtlhdmYAADY7nQZdlVc0sdjUorGydDlp9W0sEliBpaf6eD8942jV0XUwtqSm6NwMDhu8JaM6VIcYFaNGN10NCkEegORIzLID36zVC+dmkkX9m3QLyJq25nu4xsbBCJEiArmheGsl8lAowfV68vF1b5C4Tn3dDLZ8GBmxBPsrH7yID2qu7SIxrCAJE1bx8qU0f+C1BuN4LkSyXb3FOZVxVhXqjm5SzdkNjHUFsCTszWZbbzByYF2qPcxfZnWv1rUTX08y1AAS2TiSnAWVsAkbK4n3AmviUfc7Q6MLyrjS6jvYJUrZDtP0vZhNaJkd5hQU05qrB+Fcsa/QbX5fR5YvOG36oCTbtLo6FKGoeMkTatzcRAoOOl0fJXrZm9yNCefK1ZoZhKbg6CiSN3m3JxzQVG2a9fn5KL3EnjzA4z/H2psF3fSm3kfaCy5bCoZyYA6ETHn+HcrHt0vaEDgM3bqBi8/bVbpGHjaPVoSyL11YjktTgTN4ogwX7iqUqvumiszzhFTJtKdNhmcvd5bOUgX1C4XayHu4oOpb+luvYpOJvaw42i760UsY+LPfrTOA6eDM5Mv4/BPVSabsGxJNseDTvwMyrgFIweVQ3dYczM2Ye9FqGZBbgA==
  template:
    metadata:
      creationTimestamp: null
      name: monitoring-basic-auth
      namespace: monitoring
    type: Opaque
