---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: monitoring-basic-auth
  namespace: monitoring
spec:
  encryptedData:
    auth: AgBeQTqLhKQghs3xgwrvatwJ1Opna7oq2z+AnhPhEA/UoQoycRoG3jYd/fXq7ukhhp2YN52+7dSNoKKCdWBfTW2JLkqILLzQH8s9DdTjVGpazr6PY9fJzMRmlM4LLBYGBIDmrreY225r3iQ/YENtqff5+9NVs//lEDhpDNVFAgUHJka4mSXc4uD2V1KlxTLDWbeylP5+NSwdB9hv4Pu3X5WZe4o+n3HG2OTluHdR9HNnclYa8+jEfasyCu2qE9jp6DenRnMfZlRwlkXHgWNatRnZlLh4gDAvk7HRX+uRaXcZDZZ9COQdaqjMZPKsgHDBZ+EMYU0aNtJQOvIM+eLth8Y0pZnbW+IP+8Sqk8Bgm7TdZ3LjsRbsCjaZyT+BxosY/GiBZ799jq4hF4eH/3g/f/xDz+0kz7nV4d8+qHMEoykX0WEn4ldFXoOHDWgfajueMuZ994SBsoXR/wXemD/DO9c/nDBQ5NfkoAj31iBCeuq/aeErjXyOsSYY342q54B6pQOo/kCEJNi2WpKY0cqBiElW3PI5IPDmgwlu+7XwzGTR4fylF4b0k3/iuK6aH6uKR6IKihoLMvyJLDBXdtLUr+P8d6iQzti7kwB6JtL3GTi4WQhDKOhGy0N2zhen4e2LzagjUTT3xq32VqlVFnVOh3Lwb4dxhBYyjBDTpqoeVnjKd4TOwUL59iyUIHDqFT2/UP+uNzlvAXf+wztJxaAQ+94EBo2+JWd68optqEn1EJ2dkGfgyCJhqOZLoBY/zxgi672A8EqoQU+uQQ==
  template:
    metadata:
      creationTimestamp: null
      name: monitoring-basic-auth
      namespace: monitoring
    type: Opaque
