apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: simple
spec:
  image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres:ubi8-14.5-1
  postgresVersion: 14
  users:
    - name: admin
      databases:
        - postgres
      options: "SUPERUSER"
      password:
        type: AlphaNumeric
    - name: simple
      databases:
        - simple_db_development_sandbox_001
      options: "SUPERUSER"
      password:
        type: AlphaNumeric
    - name: metabase
      databases:
        - metabase
      password:
        type: AlphaNumeric
  instances:
    - name: instance1
      replicas: 1
      dataVolumeClaimSpec:
        accessModes:
        - "ReadWriteOnce"
        resources:
          requests:
            storage: 1000Gi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role-db
                operator: In
                values:
                - "true"
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchLabels:
                  postgres-operator.crunchydata.com/cluster: simple
                  postgres-operator.crunchydata.com/instance-set: instance1
      metadata:
        labels:
          prometheus.io/app: 'postgres'
        annotations:
          argocd.argoproj.io/sync-options: Delete=false
  backups:
    pgbackrest:
      configuration:
      - secret:
          name: pgo-s3-creds
      repoHost:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role-db-backup
                  operator: In
                  values:
                  - "true"
      global:
        # Number of full backups to retain
        repo1-retention-full: "2" 
        repo2-retention-full: "2"
        repo2-path: /pgbackrest/postgres-operator/simple/repo2
      image: registry.developers.crunchydata.com/crunchydata/crunchy-pgbackrest:ubi8-2.40-1
      repos:
      - name: repo3
      # Remove backup for DHIS2 perf test
      - name: repo1
        schedules:
          full: "0 20 * * 0"
          differential: "0 20 * * 1-6"
        volume:
          volumeClaimSpec:
            accessModes:
            - "ReadWriteOnce"
            resources:
              requests:
                storage: 200Gi
      - name: repo2
        schedules:
          full: "0 22 * * 0"
          differential: "0 22 * * 1-6"
        s3:
          bucket: sandbox-simple-k8s-db-backup
          endpoint: s3.ap-south-1.amazonaws.com
          region: ap-south-1
      jobs:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: role-db
                  operator: In
                  values:
                  - "true"
  patroni:
    dynamicConfiguration:
      synchronous_mode: true
      postgresql:
        parameters:
          synchronous_commit: "on"
          max_connections: "200"
          shared_buffers: "8GB"
          effective_cache_size: "24GB"
          maintenance_work_mem: "2GB"
          checkpoint_completion_target: "0.9"
          wal_buffers: "16MB"
          default_statistics_target: "100"
          random_page_cost: "1.1"
          effective_io_concurrency: "200"
          work_mem: "20971kB"
          min_wal_size: "1GB"
          max_wal_size: "4GB"
          max_worker_processes: "4"
          max_parallel_workers_per_gather: "2"
          max_parallel_workers: "4"
          max_parallel_maintenance_workers: "2"
  monitoring:
    pgmonitor:
      exporter:
        image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres-exporter:ubi8-5.5.0-0
