metabase:
  image:
    tag: v0.47.10
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    hosts:
      - host: metabase.bd.simple.org
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
    - hosts:
      - metabase.bd.simple.org
      secretName: metabase.bd.simple.org-tls
  resources:
    requests:
      cpu: 500m
      memory: 2Gi
    limits:
      cpu: 1
      memory: 4Gi
  extraEnvVars:
    - name: JAVA_OPTS
      value: "-XX:+UseG1GC -XX:MaxRAMPercentage=75.0 -Xms1g -Xss1m -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp"