redis:
  image:
    registry: "docker.io"
    repository: "bitnamilegacy/redis"
    tag: "7.0.5-debian-11-r7"
  auth:
    enabled: false
  metrics:
    enabled: true
    image:
      registry: docker.io
      repository: bitnamilegacy/redis-exporter
      tag: 1.43.0-debian-11-r14
      pullPolicy: IfNotPresent
    podLabels:
      prometheus.io/app: "redis"
    service:
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "9121"
        prometheus.io/scrape: "true"
  replica:
    replicaCount: 0
  master:
    persistence:
      size: 8Gi # This value should be >= to redis instance memory size
    podAnnotations:
      ad.datadoghq.com/redis.checks: |
        {
          "redisdb": {
            "init_config": {},
            "instances": [
              {
                "host": "%%host%%",
                "port":"6379",
                "password":"%%env_REDIS_PASSWORD%%"
              }
            ]
          }
        }
