ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
  hosts:
    - host: api-k8s.bd.simple.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
  - hosts:
    - api-k8s.bd.simple.org
    secretName: api-k8s.bd.simple.org-tls
cron:
  enabled: false
  log:
    storage: 10Gi
  podAnnotations: {
    ad.datadoghq.com/log-tailer.logs: '[{"source": "simple-server","service": "simple-cron","tags": ["env:bangladesh-production-k8s"]}]'
  }
server:
  log:
    storage: 10Gi
  podAnnotations: {
    ad.datadoghq.com/log-tailer.logs: '[{"source": "simple-server","service": "simple-server","tags": ["env:bangladesh-production-k8s"]}]'
  }
worker:
  enabled: false
  log:
    storage: 10Gi
  podAnnotations: {
    ad.datadoghq.com/log-tailer.logs: '[{"source": "simple-server","service": "simple-worker","tags": ["env:bangladesh-production-k8s"]}]'
  }
migration:
  enabled: false
