ingress:
  enabled: true
  className: "nginx"
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  hosts:
    - host: api.bd.simple.org
      paths:
        - path: /
          pathType: ImplementationSpecific
    - host: dashboard.bd.simple.org
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
  - hosts:
    - api.bd.simple.org
    secretName: api.bd.simple.org-tls
  - hosts:
    - dashboard.bd.simple.org
    secretName: dashboard.bd.simple.org-tls
migration:
  enabled: true
metrics:
  enabled: true
