redis:
  image:
    registry: "docker.io"
    repository: "bitnami/redis"
    tag: "7.0.5-debian-11-r7"
  auth:
    enabled: false
  metrics:
    enabled: true
    service:
      annotations:
        prometheus.io/app: "redis"
  replica:
    replicaCount: 0
  master:
    persistence:
      size: 8Gi # This value should be >= to redis instance memory size
    podAnnotations:
      ad.datadoghq.com/redis.checks: |
        {
          "redisdb": {
            "init_config": {},
            "instances": [
              {
                "host": "%%host%%",
                "port":"6379",
                "password":"%%env_REDIS_PASSWORD%%"
              }
            ]
          }
        }
