redis:
  image:
    registry: "docker.io"
    repository: "bitnami/redis"
    tag: "7.0.5-debian-11-r7"
  auth:
    enabled: false
  replica:
    replicaCount: 0
  master:
    persistence:
      size: 32Gi
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          podAffinityTerm:
            topologyKey: kubernetes.io/hostname
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: worker-redis
                app.kubernetes.io/name: redis
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: role-worker-redis
              operator: In
              values:
              - "true"
    podAnnotations:
      ad.datadoghq.com/redis.checks: |
        {
          "redisdb": {
            "init_config": {},
            "instances": [
              {
                "host": "%%host%%",
                "port":"6379",
                "password":"%%env_REDIS_PASSWORD%%"
              }
            ]
          }
        }
