#apiVersion: datadoghq.com/v1alpha1
#kind: DatadogAgent
#metadata:
#  name: datadog-agent
#  namespace: datadog
#spec:
#  credentials:
#    apiSecret:
#      secretName: datadog
#      keyName: api-key
#    appSecret:
#      secretName: datadog
#      keyName: app-key
#  agent:
#    apm:
#      enabled: true
#    log:
#      enabled: true
#      logsConfigContainerCollectAll: true
#    env:
#      - name: DD_ENV
#        value: "qa"
#      - name: DD_DOGSTATSD_NON_LOCAL_TRAFFIC
#        value: "true"
#    config:
#      logLevel: error
#  clusterAgent:
#    config:
#      externalMetrics:
#      clusterChecksEnabled: true
#  clusterName: "qa"
#  features:
#    prometheusScrape:
#      enabled: false
#      serviceEndpoints: false
