apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "dhis2.fullname" . }}
  labels:
    {{- include "dhis2.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "dhis2.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dhis2.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "dhis2.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
        - name: dhis-conf
          secret:
            secretName: {{ .Values.dhis2.existingConfSecretName }}
            items:
              - key: {{ .Values.dhis2.existingConfSecretKey }}
                path: {{ .Values.dhis2.confFileName }}
        - name: log4j2-xml
          configMap:
            name: {{ include "dhis2.fullname" . }}
            items:
              - key: {{ .Values.dhis2.log4j2ConfigFileName }}
                path: {{ .Values.dhis2.log4j2ConfigFileName }}
      initContainers:
        - name: dhis2-home-permissions
          image: busybox
          command: [ 'sh', '-c', 'chown {{ .Values.securityContext.runAsUser }}:{{ .Values.securityContext.runAsGroup }} /dhis-home && chmod u+rw,go-rwx /dhis-home' ]
          volumeMounts:
            - name: {{ include "dhis2.fullname" . }}
              mountPath: /dhis-home
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: CATALINA_OPTS
              value: {{ .Values.dhis2.catalinaOpts }}
            - name: JAVA_OPTS
              value: "-Dlog4j2.configurationFile={{ .Values.dhis2.workingDirectory }}/{{ .Values.dhis2.confFileName }} {{ .Values.dhis2.javaOpts }}"
            - name: DHIS2_HOME
              value: {{ .Values.dhis2.workingDirectory }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: {{ include "dhis2.fullname" . }}
              mountPath: {{ .Values.dhis2.workingDirectory }}
              readOnly: false
            - name: dhis-conf
              mountPath: {{ .Values.dhis2.workingDirectory }}/{{ .Values.dhis2.confFileName }}
              subPath: {{ .Values.dhis2.confFileName }}
            - name: log4j2-xml
              mountPath: {{ .Values.dhis2.workingDirectory }}/{{ .Values.dhis2.log4j2ConfigFileName }}
              subPath: {{ .Values.dhis2.log4j2ConfigFileName }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.storage.persistence }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "dhis2.fullname" . }}
        labels:
          {{- include "dhis2.labels" . | nindent 10 }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.storage.volumeSize }}
        storageClassName: {{ .Values.storage.className }}
  {{- end }}
