argo-cd:
  notifications:
    argocdUrl: "https://simples13.health.gov.lk"
  server:
    ingress:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      ingressClassName: "nginx"
      hosts:
        - simples13.health.gov.lk
        - argocd-simple.health.gov.lk
      paths:
        - /
      pathType: Prefix
      https: false
