argo-cd:
  notifications:
    argocdUrl: "https://argocd-simple.health.gov.lk"
  server:
    ingress:
      enabled: true
      annotations:
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        nginx.ingress.kubernetes.io/configuration-snippet: |
          more_set_headers "Strict-Transport-Security: max-age=31536000; includeSubDomains; preload";
      ingressClassName: "nginx"
      hosts:
        - simples13.health.gov.lk
        - argocd-simple.health.gov.lk
      paths:
        - /
      pathType: Prefix
      https: false
  configs:
    cm:
      accounts.cicd: login
      accounts.govind: login 
      accounts.priyanga: login 
      accounts.olttwa: login 
      accounts.akshatha: login 
      accounts.dan: login 
      accounts.atharva: login 
      accounts.roypeter: login 
       
    # https://argo-cd.readthedocs.io/en/stable/operator-manual/rbac/
    rbac:
      policy.default: role:readonly
      policy.csv: |
        p, role:cicd, applications, sync, *, allow
        p, role:cicd, applications, update, *, allow
        g, cicd, role:cicd
        g, govind, role:admin
        g, priyanga, role:admin
        g, olttwa, role:admin
        g, akshatha, role:admin
        g, dan, role:admin
        g, atharva, role:admin
        g, roypeter, role:admin
