metabase:
  image:
    tag: v0.47.6
  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        more_set_headers "Referrer-Policy: no-referrer";
        if ($request_method = OPTIONS ) {
          return 405;
        }
    className: "nginx"
    hosts:
      - host: simples9.health.gov.lk
        paths:
          - path: /
            pathType: ImplementationSpecific
      - host: metabase-simple.health.gov.lk
        paths:
          - path: /
            pathType: ImplementationSpecific
