metabase:
  image:
    tag: v0.47.10
  ingress:
    enabled: true
    className: "nginx"
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: metabase-demo.dghs.gov.bd.simple.org
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
    - hosts:
      - metabase-demo.dghs.gov.bd.simple.org
      secretName: metabase-demo.bd.simple.org-tls
