prometheus:
  server:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
        nginx.ingress.kubernetes.io/auth-secret: monitoring-basic-auth
      hosts:
        - prometheus-sandbox.simple.org
      tls:
        - secretName: prometheus-sandbox.simple.org-tls
          hosts:
            - prometheus-sandbox.simple.org
  alertmanager:
    ingress:
      className: nginx
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
        nginx.ingress.kubernetes.io/auth-secret: monitoring-basic-auth
      hosts:
        - host: alertmanager-sandbox.simple.org
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: alertmanager-sandbox.simple.org-tls
          hosts:
            - alertmanager-sandbox.simple.org
