prometheus:
  extraScrapeConfigs: |
    - job_name: "my-federated-endpoint"
      scrape_targets:
      - targets: ["https://example.com"]
      authorization:
        type: Basic
        credentials_file: /etc/secrets/monitoring-basic-auth/auth
  server:
    extraSecretMounts:
      - name: secret-files
        mountPath: /etc/secrets
        subPath: monitoring-basic-auth
        secretName: monitoring-basic-auth
        readOnly: true
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
        nginx.ingress.kubernetes.io/auth-secret: monitoring-basic-auth
      hosts:
        - prometheus-sandbox.simple.org
      tls:
        - secretName: prometheus-sandbox.simple.org-tls
          hosts:
            - prometheus-sandbox.simple.org
  alertmanager:
    ingress:
      className: nginx
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: "letsencrypt-prod"
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-realm: 'Authentication Required'
        nginx.ingress.kubernetes.io/auth-secret: monitoring-basic-auth
      hosts:
        - host: alertmanager-sandbox.simple.org
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: alertmanager-sandbox.simple.org-tls
          hosts:
            - alertmanager-sandbox.simple.org
    extraArgs:
      web.external-url: "https://alertmanager-sandbox.simple.org"
      web.route-prefix: "/"
grafana:
  admin:
    existingSecret: "grafana-secrets"
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - grafana-sandbox.simple.org
    tls:
      - secretName: grafana-sandbox.simple.org-tls
        hosts:
          - grafana-sandbox.simple.org
  persistence:
    enabled: true
