---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  creationTimestamp: null
  name: monitoring-basic-auth
  namespace: monitoring
spec:
  encryptedData:
    auth: AgBYt/2k5dKap9sGUZx+CYHICWFSksoqYhlmLZtpY59tmGFU0hDCb30k+uK0Q5r8dmdbZU1cZpOsKiGCctGfkicmtXAPlBCuIS4hjKYqGARHFQO33aAC4KOQDI8IsDeirWkubcEKMCjiwkXEkxtEwWIgvx98pBl3BiPntiq0IFoQUomSdPTwpBxaYHB44rCsDUqwFF3A104+nBXUzxjLgFGrpu1LiBVk7TQxLMpp7xB/uX4OiyovhODZPem0SYdu8JYCqDoQGCT2wHD0meEJ8xaB3igxXKPkAiT8lcGEjEepSwZwkJr9u6GFPJ0JXhwOcREk+v51/XSj9WM9HDkNatYwf0tgCREHl5OixIMbnRln36nOClQjDvEvRATLiL1wf2Kektc2SP9bdjJnobZIKZENXWIZ3KVHYPQ6bsSHws/hSFy4SaudA4Zn+T+nptrPycAZulKTr5ILIoxF5tTFKcoFabvdx2rLyJnai5xM2n6V1humQQbSnHZxsf2bkTOFM1zID0Y0VKNOkkcHH5ZE+lqSTBtuZzPnKTGbp3fywlfyOnpjkRrFCvw7b7q5d+CwmaSgiku+B2n6dZE+n4haV6nXSpaeTYr9gkr1xTQMKfYNWdO6UnMkIk3Ie/pdvk7e9Ll5Wq+6+MyKXZgnE1OCh+EpBWPME8H95Vw5W8d068hFdcm4PoUqwxKFvg2mNzCddQ/26ceTD/n9wkYnf7BSdHfeZ18vhnG9XhOA9UFeMm/bzBiut/UKwwBlWZ7TscoclhwMLjlOycP84g==
  template:
    metadata:
      creationTimestamp: null
      name: monitoring-basic-auth
      namespace: monitoring
    type: Opaque
