{"url": "argocd.k8s-test.simple.org", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd-qa.simple.org", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd-sandbox.simple.org", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd-demo.bd.simple.org", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd.bd.simple.org", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd-simple.health.gov.lk", "user": "<user-with-access>", "password": "<password>"}
{"url": "argocd.simple.org", "user": "<user-with-access>", "password": "<password>"}