{{ if .Values.server.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.server.name }}
  annotations:
    configmap.reloader.stakater.com/reload: {{ .Values.existingConfigmap }}
    secret.reloader.stakater.com/reload: {{ .Values.existingSecret }}
spec:
  replicas: {{ .Values.server.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.server.name }}
  serviceName: {{ .Values.server.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.server.name }}
      {{- with .Values.server.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.server.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ .Values.server.name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: ["/sbin/my_init"]
        resources:
          {{- toYaml .Values.server.resources | nindent 12 }}
        ports:
          - name: http
            containerPort: {{ .Values.service.port }}
            protocol: TCP
        livenessProbe:
          exec:
            command:
            - "bin/docker-health-check"
            - "10"
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - "bin/docker-health-check"
            - "10"
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
        envFrom:
          - secretRef:
              name: {{ .Values.existingSecret }}
          - configMapRef:
              name: {{ .Values.existingConfigmap }}
        env:
          - name: SIMPLE_SERVER_DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.existingDBSecret.name }}
                key: {{ .Values.existingDBSecret.key }}
                optional: false
        volumeMounts:
        - name: logs
          mountPath: /home/app/log
      - name: log-tailer
        image: ubuntu:22.04
        command: ["tail", "-F", "/home/app/log/production.log"]
        args: ["| tee -a /dev/stdout"]
        tty: true
        stdin: true
        volumeMounts:
        - name: logs
          mountPath: /home/app/log
          readOnly: true
      {{- with .Values.server.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.server.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
  - apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: logs
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.server.log.storage }}
      volumeMode: Filesystem
{{ end }}
