- name: install common packages
  apt: 
    pkg:
      - python3-pip
    state: latest
  become: true

- name: Install kubernetes python package
  ansible.builtin.pip:
    name: kubernetes

- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: argocd
    kind: Namespace
    state: present
    kubeconfig: "{{ kubeconfig }}"

# Download and apply manifest
- name: Download Argocd manifest to the cluster.
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
    dest: /tmp/argocd.yaml
    mode: '0664'

- name: Apply Argocd manifest to the cluster.
  kubernetes.core.k8s:
    state: present
    src: /tmp/argocd.yaml
    kubeconfig: "{{ kubeconfig }}"
    namespace: argocd
